<!-- Add an index variable to the ts part which shows a different quote based on the index of the quotes array -->
<div id="quote-box">
  <div *ngIf="day == 0">
    <div class="box">
      <h2 class="quote">{{ display_quote.quote }}</h2>
      <span>
        <h3 class="author">{{ display_quote.name }}</h3></span
      >
    </div>
    <button (click)="whatDayIsIt()" (click)="dayIncrement(day)">
      Next Quote
    </button>
  </div>

  <div *ngIf="day == 1">
    <div class="box">
      <h2 class="quote">{{ display_quote.quote }}</h2>
      <span>
        <h3 class="author">{{ display_quote.name }}</h3></span
      >
    </div>
    <button (click)="whatDayIsIt()" (click)="dayIncrement(day)">
      Next Quote
    </button>
  </div>

  <div *ngIf="day == 2">
    <div class="box">
      <h2 class="quote">{{ display_quote.quote }}</h2>
      <span>
        <h3 class="author">{{ display_quote.name }}</h3></span
      >
    </div>
    <button (click)="whatDayIsIt()" (click)="dayIncrement(day)">
      Next Quote
    </button>
  </div>

  <div *ngIf="day == 3">
    <div class="box">
      <h2 class="quote">{{ display_quote.quote }}</h2>
      <span>
        <h3 class="author">{{ display_quote.name }}</h3></span
      >
    </div>
    <button (click)="whatDayIsIt()" (click)="dayIncrement(day)">
      Next Quote
    </button>
  </div>

  <div *ngIf="day == 4">
    <div class="box">
      <h2 class="quote">{{ display_quote.quote }}</h2>
      <span>
        <h3 class="author">{{ display_quote.name }}</h3></span
      >
    </div>
    <button (click)="whatDayIsIt()" (click)="dayIncrement(day)">
      Next Quote
    </button>
  </div>

  <div *ngIf="day == 5">
    <div class="box">
      <h2 class="quote">{{ display_quote.quote }}</h2>
      <span>
        <h3 class="author">{{ display_quote.name }}</h3></span
      >
    </div>
    <button (click)="whatDayIsIt()" (click)="dayIncrement(day)">
      Next Quote
    </button>
  </div>

  <div *ngIf="day == 6">
    <div class="box">
      <h2 class="quote">{{ display_quote.quote }}</h2>
      <span>
        <h3 class="author">{{ display_quote.name }}</h3></span
      >
    </div>
    <button (click)="whatDayIsIt()" (click)="dayIncrement(day)">
      Next Quote
    </button>
  </div>
</div>
