/* You can add global styles to this file, and also import other style files */
h1 {
  font-size: 80px;
  box-shadow: 2ex;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  margin: 0 auto;
  text-align: center;
  text-emphasis: initial;
  background-color: white;
}

.author {
  font-size: 24px;
  font-color: grey;
  font-style: italic;
}

h2 {
  font-size: 30px;
  color: red;
  font-style: bold;
}
